<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sửa Công Tác</title>
</head>
<body>
<h1>Sửa Công Tác</h1>
<form th:action="@{/update}" th:object="${congTac}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Ngày Bắt Đầu:</label>
    <input type="date" th:field="*{ngayBD}"/>
    <br/>
    <label>Ngày Kết Thúc:</label>
    <input type="date" th:field="*{ngayKT}"/>
    <br/>
    <label>Địa Điểm:</label>
    <input type="text" th:field="*{diaDiemCT}"/>
    <br/>
    <label>Mục Đích:</label>
    <input type="text" th:field="*{mucDich}"/>
    <br/>
    <label>Nhân Viên:</label>
    <select th:field="*{nhanVien}">
        <option th:each="nhanVien : ${nhanVienList}" th:value="${nhanVien}" th:text="${nhanVien.ten}"></option>
    </select>
    <br/>
    <button type="submit">Cập nhật</button>
</form>
<a href="/">Quay lại</a>
</body>
</html>
