<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Quản lý Chuyên Môn</title>
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <div class="pagetitle">
        <h1>Chuyên Môn</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">Chuyên Môn</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Danh Sách Chuyên Môn</h5>
            <!-- Button thêm chuyên môn modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Thêm Chuyên Môn
            </button>
            <!-- Default Table -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Chuyên Môn</th>
                    <th scope="col">Mô Tả</th>
                    <th scope="col">Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="chuyenMon : ${chuyenMons}">
                    <th scope="row" th:text="${chuyenMon.id}">1</th>
                    <td th:text="${chuyenMon.tenCM}">Chuyên Môn A</td>
                    <td th:text="${chuyenMon.moTa}">Mô tả chuyên môn A</td>
                    <td>
                        <!-- Button chỉnh sửa chuyên môn modal -->
                        <button type="button" class="btn btn-outline-primary editButton" data-bs-toggle="modal" data-bs-target="#editModal" th:attr="data-id=${chuyenMon.id}, data-tenCM=${chuyenMon.tenCM}, data-moTa=${chuyenMon.moTa}">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <!-- Button xóa chuyên môn -->
                        <a th:href="@{'/chuyenmon/delete/' + ${chuyenMon.id}}" class="btn btn-outline-danger">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- End Default Table Example -->
        </div>
    </div>

    <!-- Modal thêm chuyên môn -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Thêm Chuyên Môn Mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/chuyenmon}" method="post">
                        <div class="row mb-3">
                            <label for="inputTextAdd" class="col-sm-5 col-form-label">Tên Chuyên Môn</label>
                            <div class="col-sm-15">
                                <input type="text" id="inputTextAdd" class="form-control" name="tenCM">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputDescriptionAdd" class="col-sm-5 col-form-label">Mô Tả</label>
                            <div class="col-sm-15">
                                <textarea id="inputDescriptionAdd" class="form-control" name="moTa" style="height: 100px"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal chỉnh sửa chuyên môn -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Chỉnh sửa Chuyên Môn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/chuyenmon/update}" method="post">
                        <input type="hidden" id="editId" name="id">
                        <div class="row mb-3">
                            <label for="inputTextEdit" class="col-sm-5 col-form-label">Tên Chuyên Môn</label>
                            <div class="col-sm-15">
                                <input type="text" id="inputTextEdit" class="form-control" name="tenCM">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputDescriptionEdit" class="col-sm-5 col-form-label">Mô Tả</label>
                            <div class="col-sm-15">
                                <textarea id="inputDescriptionEdit" class="form-control" name="moTa" style="height: 100px"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
