<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Thêm Nhân Viên</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
<div class="container mt-5">
    <h2 class="text-center mb-4">Thêm Nhân Viên</h2>
    <form action="#" th:action="@{/nhanvien/add}" method="POST">
        <div class="form-group">
            <label for="tenNV">Tên Nhân Viên</label>
            <input type="text" class="form-control" id="tenNV" name="tenNV" required>
        </div>
        <div class="form-group">
            <label for="cccd">CCCD</label>
            <input type="text" class="form-control" id="cccd" name="CCCD" required>
        </div>
        <div class="form-group">
            <label for="ngaySinh">Ngày Sinh</label>
            <input type="date" class="form-control" id="ngaySinh" name="ngaySinh" required>
        </div>
        <div class="form-group">
            <label for="hoKhau">Hộ Khẩu</label>
            <input type="text" class="form-control" id="hoKhau" name="hoKhau" required>
        </div>
        <div class="form-group">
            <label for="SDT">Số Điện Thoại</label>
            <input type="text" class="form-control" id="SDT" name="SDT" required>
        </div>
        <div class="form-group">
            <label for="image">Hình Ảnh</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>
        <div class="form-group">
            <label for="gioiTinh">Giới Tính</label>
            <select class="form-control" id="gioiTinh" name="gioiTinh">
                <option value="NAM">Nam</option>
                <option value="NU">Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="loaiNhanVien">Loại Nhân Viên</label>
            <select class="form-control" id="loaiNhanVien" name="loaiNhanVien.id">
                <option th:each="loai : ${loaiNhanViens}" th:value="${loai.id}" th:text="${loai.tenLoai}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="phongBan">Phòng Ban</label>
            <select class="form-control" id="phongBan" name="phongBan.id">
                <option th:each="phong : ${phongBans}" th:value="${phong.id}" th:text="${phong.tenPB}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="bangCap">Bằng Cấp</label>
            <select class="form-control" id="bangCap" name="bangCap.id">
                <option th:each="bang : ${bangCaps}" th:value="${bang.id}" th:text="${bang.tenBC}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="chucVu">Chức Vụ</label>
            <select class="form-control" id="chucVu" name="chucVu.id">
                <option th:each="chuc : ${chucVus}" th:value="${chuc.id}" th:text="${chuc.tenChucVu}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="chuyenMon">Chuyên Môn</label>
            <select class="form-control" id="chuyenMon" name="chuyenMon.id">
                <option th:each="chuyen : ${chuyenMons}" th:value="${chuyen.id}" th:text="${chuyen.tenCM}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="trangThai">Trạng Thái</label>
            <select class="form-control" id="trangThai" name="trangThai.id">
                <option th:each="trang : ${trangThais}" th:value="${trang.id}" th:text="${trang.tenTT}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="trinhDo">Trình Độ</label>
            <select class="form-control" id="trinhDo" name="trinhDo.id">
                <option th:each="trinh : ${trinhDos}" th:value="${trinh.id}" th:text="${trinh.tenTD}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Thêm Nhân Viên</button>
    </form>
</div>
</section>

</body>
</html>
