<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Nhân Viên</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Danh Sách Nhân Viên</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên Nhân Viên</th>
                <th>CCCD</th>
                <th>Ngày Sinh</th>
                <th>Hộ Khẩu</th>
                <th>Số Điện Thoại</th>
                <th>Giới Tính</th>
                <th>Loại Nhân Viên</th>
                <th>Phòng Ban</th>
                <th>Bằng Cấp</th>
                <th>Chức Vụ</th>
                <th>Chuyên Môn</th>
                <th>Trạng Thái</th>
                <th>Trình Độ</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="nhanVien : ${nhanViens}">
                <td th:text="${nhanVien.id}"></td>
                <td th:text="${nhanVien.tenNV}"></td>
                <td th:text="${nhanVien.CCCD}"></td>
                <td th:text="${#dates.format(nhanVien.ngaySinh, 'dd-MM-yyyy')}"></td>
                <td th:text="${nhanVien.hoKhau}"></td>
                <td th:text="${nhanVien.SDT}"></td>
                <td th:text="${nhanVien.gioiTinh}"></td>
                <td th:text="${nhanVien.loaiNhanVien.tenLoai}"></td>
                <td th:text="${nhanVien.phongBan.tenPB}"></td>
                <td th:text="${nhanVien.bangCap.tenBC}"></td>
                <td th:text="${nhanVien.chucVu.tenChucVu}"></td>
                <td th:text="${nhanVien.chuyenMon.tenCM}"></td>
                <td th:text="${nhanVien.trangThai.tenTT}"></td>
                <td th:text="${nhanVien.trinhDo.tenTD}"></td>
            </tr>
            </tbody>
        </table>
        <a href="/nhanvien/add" class="btn btn-primary">Thêm Nhân Viên Mới</a>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
